* {
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: rgb(250,250,250);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  height: 100vh;
  background-color: rgb(10,10,10);
  outline:none;
}
.menu {
  background-color: rgb(50,50,50)!important;
}
.genome_interface_header {
  margin: 5px 0 0 0 !important;
  font-size: 20px !important;
  white-space: nowrap;
  text-align: center;
}
.genome_interface_logo {
  margin: 0 0 8px 0;
}
.chartjs-render-monitor {
  padding: 5px;
  margin: 20px 0 0 0;
  background-color: rgb(250,250,250);
}
.column[name="chart_column"] {
  max-width: 300px;
  min-width: 230px;
}

.genome_footer {
  background-color: rgb(20,20,20)!important;
}
#genome_gui {
  opacity: 90%;
  max-width: 400px;
  text-align: left;
  position: absolute;
  top: 30px;
  right: 4vw;
  z-index: 100;
}